@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans JP', sans-serif, Arial;
}

html, body{
   scroll-behavior: smooth;
}


header{
   justify-content: center;
   align-items: center;
   padding: 3rem;
   background-color: #ff9100;
}

header div#logo{
   width: 50%;
   display: block;
   margin: auto
   
}

section#superior{
   justify-content: center;
   align-items: center;
   padding: 4rem;
   background-color: #212529;
}

section#superior div#titulo{
   display: flex;
   padding: 2rem;
   font-size: 2vw;
   flex-wrap: wrap;
   color: white;
   justify-content: center;
   align-items: center;

}

section#superior div#texto p{
   display: flex;
   padding: 1rem;
   font-size: 2vw;
   flex-wrap: wrap;
   color: white;
   justify-content: center;
   align-items: center;
   margin-bottom: 4rem;

}

section#superior div#form{

   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   
   
}

section#superior div#form form label{
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
   

}

section#superior div#form form input, textarea{
   width: 100%;
   padding: .8rem;
   font-size: 1.1rem;
   border: 1px solid #ccc;
   margin-top: .5rem;
   margin-bottom: 1rem;
   outline: none; 
}


section#superior div#form form button{

   border: 1px solid #ff9100;
   background-color: #fff;
   color: #ff9100;
   padding: 1rem;
   font-size: .8vw;
   font-weight: 400;
   border-radius: .9rem;
   display: block;
   margin: auto;
   margin-top: 1rem;
   cursor: pointer;
   transition: .7s ease-out;
}


section#superior div#form form button:hover{
   background-color: #ff9100;
   color: #fff;
   transform: scale(1.1);

}

footer {
   background-color: black;
  
}

footer span{
   color: white;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: .8rem;
   transition: .7s ease-out;
}

footer span:hover{
   transform: scale(1.1);
}


